* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
}